:root{
    --section-height:fit-content;
}
.pro{
    width:var(--inside-width);
    height:var(--section-height);
    flex-direction: column;
    margin-block: 25px;
    
}
.thumb{
    width:600px;
    height:150px;
    background-size: contain;
    background-repeat: no-repeat;
}
.thumb:hover{
    transform: translateY(-5px);
    box-shadow: 0 0 5px grey;
}
.thumb1{
    background-image: url("images/asset0.png");
}
.thumb2{
    background-image: url("images/thumb2.png");
}
.thumb:hover{
    cursor: pointer;
}
.project{
 
    gap:20px;
    height:420px;
    align-items: center;
    padding: 12px;
}
.project:hover{
    transform: translateY(4px);
    border: 0.5px solid #a9a9a99a;
    border-radius: 10px;
    box-shadow: 0 0 15px var(--shadow);
    background-color: aliceblue;
}
.darkproj:hover{
    background-color: rgb(2, 1, 49);
}
.desc{
    width:90%;
    text-align: left;
}
@media screen and (max-width:720px) {
    .thumb{
        width:300px;
        height:80px;
    }
}
@media screen and (max-width:400px) {
    :root{
        --section-height:600px;
    }
    .thumb{
        width:240px;
        height:60px;
    }
}
